@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

body{
  background-color: #404040;
}

.container{
  font-family: 'Varela', sans-serif;
}

.header{
  color: white;
  text-align: center;
  background-color: black;
}

.navbar{
  text-align: center;
}

button{
  border: none;
  padding: 10px 40px 10px 40px;
  margin: -5px 10px 10px 10px;
  font-family: 'Varela', sans-serif;
  color: white;
  font-size: medium;
}

.addButton{
  background-color: green;
}

.addButton:hover{
  background-color: yellowgreen;
}

.removeButton{
  background-color: red;
}

.removeButton:hover{
  background-color: pink;
}

.resBox{
  background-color: lightgray;
  position: absolute;
  width: 80%;
  height: 70%;
  margin-left: 2%;
  margin-top: 1%;
}

.openMovieForm{
  background-color: lightblue;
  color: red;
}

.removeMovieForm{
  background-color: yellow;
  color: blue;
}