@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.Container{
  font-family: 'Varela', sans-serif;
  background-color: #404040;
}

.Header{
  color: white;
  text-align: center;
  background-color: red;
}

.Navbar{
  text-align: center;
}

button{
  border: none;
  padding: 10px 40px 10px 40px;
  margin: -5px 10px 10px 10px;
  font-family: 'Varela', sans-serif;
  color: white;
  font-size: medium;
}

.AddButton{
  background-color: green;
}

.AddButton:hover{
  background-color: yellowgreen;
}

.RemoveButton{
  background-color: red;
}

.RemoveButton:hover{
  background-color: pink;
}